body {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    height: calc(100vh - 40px);
    width: calc(100vw - 80px);
    margin: auto;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.blue {
    display: inline-block;
    height: 100%;
    width: 300px;
    position: relative;
    background-color: blue;
    vertical-align: middle;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.yellow {
    height: 50px;
    width: 100%;
    background-color: yellow;
    margin: 5px;
}

.block100 {
    height: 100px;
}

.block150 {
    height: 150px;
}

.block400 {
    height: 400px;
}